<div class="log">
    <h1 style="background-color: #0f6dbf; padding: 10px;">
        Login Page
    </h1>
    <div class="log">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
            <label for="exampleInputusername1" class="form-label">Username</label>
            <input type="username" class="form-control" matInput placeholder="username" formControlName="username" aria-describedby="usernameHelp">
            <mat-hint *ngIf="loginForm.controls['username'].errors">Username is required</mat-hint>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" matInput type="password" placeholder="Password" formControlName="password">
            <mat-hint *ngIf="loginForm.controls['password'].errors">Password is required</mat-hint>
            </div>
            <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>

