<div class="backImage">
    <img src="../../../assets/img/Crypto4k.jpg" class="img-fluid" alt="Crypto">
</div>
<div class="centered">
    <h1 class="headTitle">No More Speculation</h1>
    
    <div class="d-grid gap-2">
        <a class="btn btn-success" id="invest">Invest Now Free</a>
    </div>
    
    
    <p class="headFooter">Find out what <a class="you">you</a> could be making today</p>
    <div class="quote">
        <figure class="text-end">
            <blockquote class="blockquote">
              <p>Every informed person needs to know about Bitcoin because it might be one of the world’s most important developments.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Leon Louw <cite title="Source Title">two-time Nobel Peace Prize nominee</cite>
            </figcaption>
          </figure>
    </div>
    
</div>

<div class="sectionHeading">
  <h1>Cryptos</h1>
</div>​
​​​​​​​​​​​​​​​​​​​
<app-cryptos></app-cryptos>

    <div></div>
