.backImage {
    

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: CENTER;
}

.sectionHeading {
    color: rgb(255, 255, 255); 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-size: 275px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    padding: 10px;
}

.headTitle {
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-size: 8vw; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    border: 5px solid #111;
    padding: 20px;
    margin: 0 0 10vh; 
}

.headFooter {
    color: #111; 
    font-family: 'Open Sans', 
    sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center;
}

.you {
    color: #ffffff; 
    text-decoration: underline;
}

#cryptoTable {
    padding-right: 100px;
}


#invest{
    margin: 0 0 72px;
}
@media (max-width: 1080px) {
    .quote {
      display: none;
    }
    
    .headTitle {
        color: #111; 
        font-family: 'Helvetica Neue', 
        sans-serif; 
        font-size: 8vw; 
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1; 
        text-align: center;
        border: 5px solid #111;
        padding: 10px;
        margin: 0 0 2vh; 
    }
    
    .headFooter {
        display: none;
    }
    #invest{
        margin: 0 0 500px;
    }
}

