<div>
    <img src="../../../assets/img/team-background.jpg" class="backImage" alt="Crypto">
</div>

<div class="centered">
    <h1 class="headTitle">Meet Our Team</h1>
    <div class="d-grid gap-2">
      <a class="btn btn-danger" id="invest">Contact Now</a>
    </div>
</div>


<div class="team">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/default.jpg" class="card-img-top" alt="Developer">
                <div class="card-body">
                  <h5 class="card-title">Will</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/chelsey.jpg" class="card-img-top" alt="Developer">
                <div class="card-body">
                  <h5 class="card-title">Chelsey</h5>
                  <p class="card-text">I aimed to apply my development skills in creating
                    an app that is beneficial for anyone interested in investing and tracking their crypto trends.</p>
                  <a href="#" class="btn btn-secondary">Backend Developer</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/default.jpg" class="card-img-top" alt="Developer">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/default.jpg" class="card-img-top" alt="Developer">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
