.backImage {

    /* Full height */
    height: 800px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: centered;
    background-repeat: no-repeat;
    background-size: cover;

    /*add fade transition to the team portion of the page */
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    }

/* Centered text */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-weight: bold;
text-align: CENTER;
}


.headTitle {
    color: rgb(160,251,254);
    font-family: 'Helvetica Neue',
    sans-serif;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 10vh;
   /* background-color: rgb(33,37,41, .75);*/
    border-radius: 5px;
}