<div class="sectionHeading">
  <h1>Cryptos</h1>
</div>
<div>
    <div class="container" id="cryptoTable">
      <div class="row">
        <div class="col-8">
          <table class="border border-white table table-dark table-striped table-hover">
              <thead>
                  <tr >
                    <th scope="col">Ticker</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Price change(24h)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger">
                    <th scope="row">BTC</th>
                    <td>Bitcoin</td>
                    <td>{{ btcPrice }}</td>
                    <td>-5.84%</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">ETH</th>
                    <td>Ethereum</td>
                    <td>{{ ethPrice }}</td>
                    <td>-5.84%</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">BNB</th>
                    <td>Binance</td>
                    <td>{{ bnbPrice }}</td>
                    <td>-5.84%</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">ADA</th>
                    <td>Cardano</td>
                    <td>{{ adaPrice }}</td>
                    <td>-5.84%</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">Doge</th>
                    <td>Doge Coin</td>
                    <td>{{ dogePrice }}</td>
                    <td>-5.84%</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
          <H1>Invest with imaginary money.</H1>
        </div>
    </div>
  </div>
</div>


