<div class="h-100 text-center text-white">
  <h1>Cryptos</h1>
</div>

<div>
    <div class="container" id="cryptoTable">
      <div class="row">
        <div class="col-8">
          <table class="border border-white table table-dark table-striped table-hover">
              <thead>
                  <tr >
                    <th scope="col">Ticker</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger">
                    <th scope="row">BTC</th>
                    <td>Bitcoin</td>
                    <td>{{ btcPrice }}</td>
                    
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">ETH</th>
                    <td>Ethereum</td>
                    <td>{{ ethPrice }}</td>
                    
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">BNB</th>
                    <td>Binance</td>
                    <td>{{ bnbPrice }}</td>
                    
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">ADA</th>
                    <td>Cardano</td>
                    <td>{{ adaPrice }}</td>
                    
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">Doge</th>
                    <td>Doge Coin</td>
                    <td>{{ dogePrice }}</td>
                    
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 text-left text-white" >
          <H1>Find out what you could be making with Crypto today and tomorrow.</H1>
        </div>
    </div>
</div>



<div class="d-flex h-100 text-center text-white">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <a href="/signup" class="btn btn-lg btn-success fw-bold">Sign Up</a>
    </main>
  </div>
</div>