<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex justify-content-start">

    <a class="navbar-brand p-2 w-100" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="21" fill="yellow" class="bi bi-graph-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
    </svg>Crypto</a>

  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/home">Home</a>
      <a class="nav-link" href="/account">Features</a>
      <a class="nav-link" href="/about">Team</a>
    </div>
  </div>
  <form class="d-flex justify-content-end signUpButton">
    <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
    <button class="btn btn-sm btn-outline-danger" type="Signup">Signup</button>
  </form>


</nav>

<app-cryptos></app-cryptos>

<!-- <div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
  <app-crypt-list [pages]="pages"></app-crypt-list>
</div> -->

<router-outlet></router-outlet>
