<div>
    <h2 class="test">Cryptos</h2>
    <div class="container" id="cryptoTable">
      <div class="row">
        <div class="col-8">
          <table class="border border-white table table-dark table-striped table-hover">
              <thead>
                  <tr >
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Price change(24h)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger">
                    <th scope="row">BTC</th>
                    <td>Bitcoin</td>
                    <td>57,365.80</td>
                    <td>-5.84%</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">BTC</th>
                    <td>Bitcoin</td>
                    <td>57,365.80</td>
                    <td>-5.84%</td>
                  </tr>
                  
                </tbody>
            </table>
        </div>
        <div class="col-4">
          <H1>Invest with imaginary money.</H1>
        </div>
    </div>
  </div>
</div>


